
.costume_container{
    /* background-image: url("../images/clyde-thomas-8plz1xK_Wmk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    padding: 0%;
 
}