.user_details_main{
    margin-top: 10%;
    width: 90%;
}



.delete_btn{
    margin-top: 3%;
    margin-left: 2%;

}
.edit_btn{
    margin-top: 3%;
    margin-left: 2%;

}
.submit_btn{
    margin-top: 2%;
}